<div class="container">
  <h1 class="mt-3 fw-bold">Transaction List for <%= user.username %></h1>
  <div class="row">
    <div class="col">
      <h4 class="mb-2">Here is a list of your transactions!</h4>
      <div class="d-flex justify-content-end mb-3">
        <a href="/transaction/byCategory" class="btn btn-outline-danger me-2" id="groupByCategoryBtn">Group by category</a>
        <a href="?sortBy=category" class="btn btn-outline-success me-2" id="sortByCategoryBtn">Sort by category</a>
        <a href="?sortBy=amount" class="btn btn-outline-success me-2" id="sortByAmountBtn">Sort by amount</a>
        <a href="?sortBy=description" class="btn btn-outline-success me-2" id="sortByDescriptionBtn">Sort by description</a>
        <a href="?sortBy=date" class="btn btn-outline-success me-2" id="sortByDateBtn">Sort by date</a>
      </div>
      <table class="table table-hover table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% transactions.forEach(transaction => { %>
            <tr>
              <td><%= transaction.description %></td>
              <td><%= transaction.amount %></td>
              <td><%= transaction.category %></td>
              <td><%= transaction.date.toDateString() %></td>
              <td>
                <div class="btn-group">
                  <a href="/transaction/edit/<%=transaction._id %>" class="btn btn-outline-success btn-sm">
                    <i class="bi bi-pencil"></i>
                  </a>
                  <a href="/transaction/delete/<%=transaction._id %>" class="btn btn-outline-danger btn-sm">
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <h2 class="mt-5 fw-bold">Add a New Transaction</h2>
      <form method="post" action="transaction" class="row g-3 mt-3">
        <div class="col-md-6">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" name="description" id="description" placeholder="Description" required>
        </div>
        <div class="col-md-6">
          <label for="category" class="form-label">Category</label>
          <input type="text" class="form-control" name="category" id="category" placeholder="Category" required>
        </div>
        <div class="col-md-6">
          <label for="amount" class="form-label">Amount</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" name="amount" id="amount" step="0.01" placeholder="Amount" required>
          </div>
        </div>
        <div class="col-md-6">
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-control" name="date" id="date" required>
        </div>
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary">Store</button>
        </div>
      </form>
    </div>
  </div> 
</div>